body {
  background-color: darkslategrey;
  font-family: trebuchet;
}

h1 {
  text-align: center;
  color: lightslategrey;
}

p {
  color: lightslategrey;
  text-align: center;
}

.bilde {
  width: 200px;
  border-radius: 50%;
  border-color: lightslategrey;
  border-width: 4px;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.sitat {
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
}

.overskrift {
  margin-top: 50px:
}

.forfatter {
  font-style: italic;
}
